label {
  color: #828282 !important;
  font-weight: bold !important; 
  font-size: 1.1rem !important;
}

.subTitle {
  color: #394B68;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 25px 0 0 80px;
}

.containerMaps {
  display: block;
  margin-left: 5%;
  position: relative;
  height: 30vh;
}

@media (max-width: 420px) {
  .containerMaps {
    margin: 0 !important;
    display: flex !important;
    justify-content: center !important;
  }
}