.body {
    position: relative;
    margin-top: 8vh;
    width: 120px;
    height: 250px;
    border-radius: 0.8rem;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 50px;
}

.logo * {
    fill: rgba(255, 255, 255, 0)
}

.qr {
    margin-top: 15px;
    margin-left: 32px;
}

.text {
    margin-top: 30px;
    margin-left: 10px;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.saveButton {
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: solid 1px #F9F9F9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}