.container {
    width: 500px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
    border: 1px solid #ccc;
}

.table {
    border-collapse:separate;
    border-radius: 12px;
    border: #000000 1px solid;
    width: 100%;
    height: 100%;
    color: #000000;
}

.table1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 8px;
}

.produtor {
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 20px;
}

.table2 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    width: 91% ;
    border-top: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.table3 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.75rem;
    font-weight: 200;
    width: 91%;
    border-top: 1px solid black;
    border-collapse: separate;
    border-spacing: 5px;
}

.table4 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.75rem;
    font-weight: 200;
    width: 78%;
    border-top: 1px solid black;
    border-collapse: separate;
    border-spacing: 5px;
}

.logo {
    width: 10%;
    margin-top: -35%;
    margin-left: 85%;
}

.logo > *{
    fill: rgba(255, 255, 255, 0)
}

.qrcode { 
    margin-top: -16%;
    margin-left: 85%;
}

.larguraMaior {
    position: relative;
    width: 50%;
}

.produtor {
    text-align: left;
    font-size: 1rem;
    font-weight: 450;
}

.larguraMedia {
    position: relative;
    width: 30%;
}
.larguraMenor1 {
    position: static;
    width: 20%;
}

.larguraMenor2 {
    position: static;
    width: 23%;
}

.saveButton {
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: solid 1px #F9F9F9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.normalcoffee {
    position: relative;
    margin-top: 50px;
}

.logocomum {
    width: 10%;
    margin-top: 2%;
    margin-left: 25%;
}

.qrcodecomum { 
    margin-top: 5%;
    margin-left: 00%;
}

.logocomum > *{
    fill: rgba(255, 255, 255, 0)
}