.card {
  height: 295px;
  width: 255px;
  background: #FCFCFC;
  border: 0.25px solid #e4e3e3;
  border-radius: 1rem;
  filter: drop-shadow(0px 2.2px 3px rgba(0, 0, 0, 0.2));
  position: relative;
  text-align: center;
  color: #6C6B6B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover .animeTop{
  display: block;
  font-weight: 400;
  animation: animeTop .4s forwards;
}

.animeTop {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  cursor: pointer;
}

.animeTop svg > *{
  fill: #6C6B6B;
}

.animeTop svg {
  margin-left: 10px;
}

@keyframes animeTop {
  to {
    opacity: 1;
    transform: initial;
  }
}

.especie {
  margin: 30px 0 0 0;
  font-size: 1.65rem;
  font-weight: bold;
}

.variedade {
  font-size: 1.35rem;
  font-weight: 500;
}

.btnGroup {
  display: flex;
  justify-content: space-evenly;
  height: 75px;
}

.btnCircle {
  background: #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 35%);
  cursor: pointer;
}

.btnCircle > * {
  height: 20px;
}

.btnCircle:hover, 
.btnCircle:focus{
  outline: none;
  background: #BDEE84;
  box-shadow: 0 0 0 0.5px #EEFBDF, 0 0 0 1px #4B9100;
}

.btnCircle:hover svg > *, 
.btnCircle:focus svg > *{
  fill: #4B9100 !important;
}

label {
  color: #828282 !important;
  font-weight: bold !important;
  font-size: 1rem !important;
}

.especial {
  animation: animeTop .3s ease-in-out;
}

.cafe {
  animation: anime .3s ease-in-out;
}

@keyframes anime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

@keyframes animeTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 70vw !important;
  }
}