.container {
    position: absolute;
    margin-left: 45%;
    height: 270px;
    width: 230px;
    border-radius: 1rem;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 40%);
    text-align: center;
    color: rgb(130, 141, 159);
}

.icon {
    position: relative;
    margin-left: 42%;
    padding-block-end: 10%
}

.input {
    color: rgb(130, 141, 159);
}

label {
    position: relative;
    background-color: rgb(188, 194, 202);
    border-radius: 1rem;
    color: #fff;
    padding: 15% 15% ;
    width: 100%;
    height: 70%;
}

/* input[type="file"] {
    display: none;
    background-color: blue;
} */

.uploadButton {
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(130, 141, 159);
    border-radius: 5px;
    border: solid 1px #F9F9F9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}