.container {
    position: relative;
    margin-left: 42%;
    margin-top: 6%;
    height: 270px;
    width: 230px;
    border-radius: 1rem;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 40%);
    text-align: center;
    color: rgb(130, 141, 159);
}

.icon {
    position: relative;
    margin-left: 42%;
    margin-top: 10%;
    padding-block-end: 10%
}

.thumbsContainer {
    display: 'flex';
}

.thumb {
    display: 'inline-flex';
    border: '1px solid #eaeaea';
    width: 100;
    height: 100;
    padding: 4;
}

.thumbInner {
    display: 'flex';
    overflow: 'hidden'
}

.img {
    position: relative;
    margin-top: 2%;
    margin-left: 46%;
    display: 'block';
    width: 150px;
    height: 150px
}

.text {
    padding: 3% 20%;
}

.searchButton {
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(130, 141, 159);
    border-radius: 5px;
    border: solid 1px #F9F9F9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.uploadButton {
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(130, 141, 159);
    border-radius: 5px;
    border: solid 1px #F9F9F9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}