.card {
  height: 270px;
  width: 230px;
  border-radius: 1rem;
  box-shadow: 3px 4px 5px rgb(0 0 0 / 40%);
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  filter: brightness(0.5) blur(.7px);
}

.card .info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}

.card .nome {
  font-size: 1.2rem;
  font-weight: 700;
  word-break: break-word;
}

.card .regiao {
  font-size: .9rem;
  font-weight: 200;
  word-break: break-word;
}

.card:hover .animeTop{
  display: block;
  font-weight: 400;
  animation: animeTop .4s forwards;
}

.animeTop {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  cursor: pointer;
}

.animeTop svg{
  margin-left: 10px;
}

@keyframes animeTop {
  to {
    opacity: 1;
    transform: initial;
  }
}