.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #000;
  top: 0;
}

.nav {
  height: 4rem;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: .5rem 0;
}

.container {
  display: flex;
  min-width: 410px;
  justify-content: space-between;
  align-items: center;
}

.container a {
  color: #F9F9F9;
  font-size: .9rem;
  font-weight: 500;
  margin: 0 15px;
  text-decoration: none;
}

.container a:hover {
  color: #F9F9F9;
}

.container .auth {
  display: flex;
}

.container .auth > a {
  width: 95px;
  padding: 0.3rem;
  border: solid 1px #F9F9F9;
  text-align: center;
  border-radius: 5px;
  margin: 0;
}

.container .auth > a:nth-child(2) {
  color: #000;
  background: #F9F9F9;
  margin-left: 10px;
}

.mobileButton {
  background: transparent;
  color: #fff;
  height: 40px;
  width: 40px;
  padding: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .1s;
  cursor: pointer;
}

.mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: .2s;
}

.mobileButtonActive::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.mobileMenu {
  position: absolute;
  top: 60px;
  background: #000;
  width: 100%;
  left: 0;
  padding: 20px 0;
  min-height: 120px;
  border-radius: 0 0 1.5rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mobileMenu a{
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  height: 30px;
  margin: 10px 0;
}

.mobileMenu > * {
  padding: 0 !important;
  border: 0 !important;
}

@media (max-width: 420px) {
  .container {
    display: none;
  }
}