@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 4rem;
  color: #333;
  --color-green-main: #427C51;
  --color-orange: #FFB905;
  --type-first: 'Poppins', Arial, sans-serif;
  --type-second: 'Roboto', Georgia;
  font-family: var(--type-first) !important;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color:#333;
}

a {
  text-decoration: none;
}

.bgBlack {
  background: linear-gradient(119.6deg, #000000 0%, #212121 152.34%);
  min-height: calc(100vh - 64px);
  position: relative;
}

.bgGray {
  background-color: #F2F2F2;
  min-height: calc(100vh - 64px);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--color-green-main);
  display: inline-block;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1;
  margin: 32px 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 60%;
  height: 7px;
  border-radius: 1rem;
  background: var(--color-orange);
  position: absolute;
  bottom: -8px;
  right: -25px;
  z-index: -1;
}

.boxContainer {
  width: 80%;
  height: 80vh;
  background: #fff;
  border-radius: 2rem;
  border: 0.25px solid #dbdbdb;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

input[type=range]::-webkit-slider-thumb {
  border: 0px solid #E41838 !important;
  background: #E41838 !important;
  margin-top: -6px;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #FFB905;
  height: 4px;
}

.container-scroll {
  width: 95%;
  margin: 40px auto;
  min-height: 270px;
  max-height: 54vh;
  overflow-y: auto;
  padding-bottom: 10px;
}

.navBarCont {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.list-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 20px;
  justify-content: center;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 10rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 10rem;
}


@media (min-width: 576px){
  .modalAdesivo .modal-dialog {
    max-width: 70vw !important;
  }
  .modal-dialog {
    max-width: 600px !important;
  }
}

.form-check-input:checked {
  background-color: var(--color-green-main) !important;
  border: none !important;
}

.modal-content {
  background: #fff !important;
  border-radius: 1.2rem !important;
  border: 0.25px solid #dbdbdb !important;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
}