@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 4rem;
  color: #333;
  --type-first: 'Poppins', Arial, sans-serif;
  --type-second: 'Roboto', Georgia;
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color:#333;
}