.blackbg {
  width: 100vw;
  height: calc(100vh - 64px);
  background: linear-gradient(119.6deg, #000000 0%, #212121 152.34%);
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.carousel {
  width: 62vw;
  height: calc(100vh - 64px);
  position: relative;
}

.btnGroup {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.btnCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: rgb(39 39 39 / 60%);
}

.btnCarousel > * {
  height: 45%;
  transform: rotate(90deg);
}

.infos {
  width: 100%;
  max-width: 38vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0vh 3vw 8vh 3vw;
  position: relative;
}

.nomeFaz {
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}

.infosFaz {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.015em;
}

.infosFaz > b {
  font-weight: bold;
}

.boxInfoGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.boxInfo {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.arrowDown {
  width: 20px;
  position: absolute;
  bottom: 30px;
  right: 50px;
  animation: arrowAnim 1s infinite;
}

@keyframes arrowAnim {
  0% {
    transform: initial;
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: initial;
  }
}

.cafeSection {
  min-height: 50vh;
  background: #FDF6EB;
}

.cafeBg {
  background: url('../../../Assets/cafeBg.svg');
  background-repeat: no-repeat;
  background-position-x: calc(470px/2 - 17vw);
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselCafe {
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dadoCafe {
  max-width: 50vw;
  border-bottom: 1px solid #562A09;
  margin: 0 auto;
}

.dadoCafe:last-child {
  border-bottom: 0px solid #562A09 !important;
}

.infosCafe {
  color: #562A09;
  font-size: calc(.8rem + .3vw);
  font-weight: 400;
}

.infosCafe > b {
  margin-right: 20px;
  font-weight: bold;
}

.dadoCafe p {
  margin-bottom: 0 !important;
  padding: 10px 0 !important;
}

.btnCarouselCafe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #FEFEFE;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
}

.btnCarouselCafe > * {
  height: 40%;
  transform: rotate(90deg);
}

.btnCarouselCafe svg > * {
  fill: #A56D2E;
}

.localSection {
  min-height: 50vh;
  background: #F2F2F2;
  align-items: center;
}

.localBg {
  background: url('../../../Assets/localBg.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlePhone {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.contactGroup {
  display: flex;
}

.contact {
  font-weight: 500;
  color: #fff;
}

.contact svg {
  margin-right: 7px;
}

@media (max-width: 950px){
  .cafeBg {
    background-position: center;
  }
  .dadoCafe {
    max-width: 100vw !important;
  }
}

@media (max-width: 420px) {
  .blackbg {
    display: flex; 
    flex-direction: column;
    height: auto;
  }
  .carousel img {
    object-fit: cover !important;
    max-height: 275px !important;
  }
  .carousel, .infos {
    width: 100vw;
    max-width: 100vw;
    height: 100%;
  }
  .infos {
    padding: 5vh 3vw 8vh 3vw;
  }
  .cafeBg {
    align-items: flex-end;
    background-position-x: calc(470px/2 - 38vw) !important;
  }
  .carouselCafe {
    align-items: flex-start;
  }
  .btnCarouselCafe {
    bottom: 20px !important;
  }
  .btnCarouselCafe:first-of-type {
    left: 35% !important;
  }
  .btnCarouselCafe:last-of-type {
    right: 35% !important;
  }
  .localSection {
    display: flex;
    flex-direction: column-reverse;
  }
  .localBg {
    height: 100px;
    align-items: flex-end;
    background-position-x: 8vw;
  }
  .localSection .map{
    margin: 30px 0 !important;
  }
  .titlePhone {
    height: 100px;
  }
  .contactGroup {
    height: 110px;
    margin-top: 10px;
  }
  .contactGroup > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}